.video-list {
    position: absolute;
    width: 36%;
    height: auto;
    min-width: 400px;
    right: 0;
    top: 80px;
    bottom: 4px;
    overflow-y: scroll;
    box-shadow: -4px 2px 8px rgba(0,0,0,0.2);
    padding: 8px 16px !important;
}